.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  margin: auto;
}

.card-wrapper {
  flex: 0 0 auto;
  width: 300px;
  height: 500px;
  padding: 0;
  border: 1px solid rgb(212, 212, 212);
  border-bottom: 5px solid rgb(224, 224, 224);
}

.users-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.users-item svg {
  margin-right: 8px;
}
/* .ant-card-actions & ul {
  background-color: rgb(226, 225, 225);
  height: max-content;
} */
.custom-card .ant-card-actions {
  background-color: #f5f5f5;
  border-radius: 0;
}
